
html, body {
    width: 100%;
    height: 100%;
    visibility: visible;
    /* font-size: 625%; */
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #ffffff;
    overflow: hidden;
    color: #ffffff;
    background: url("https://datav.oss-cn-hangzhou.aliyuncs.com/uploads/images/51182f91cfa0fd0b3c8754d7ca23e877.png") 0% 0% / 100% 100%;
}

.mt-ik {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
    height: 100%;
}

.mt-heading {
    text-align: center;
    height: 12%;
    width: 100%;
    display: flex;
}

.mt-heading-left {
    flex: 1;
}

.mt-heading-center {
    flex: 1;
}

.mt-heading-center .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    /* color: rgba(255, 255, 255, 1); */
    font-weight: lighter;
    font-family: "Microsoft Yahei", Arial, sans-serif;
    font-size: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    line-height: 1;
}

.mt-heading-center .sub-title {
    height: 50%;
    background-image: url(https://img.alicdn.com/tps/TB1Pg3pPXXXXXcxXpXXXXXXXXXX-1920-1080.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.mt-heading-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px;
    color: rgb(46, 147, 255);
}

.mt-main {
    height: 70%;
    display: flex;
}

.mt-left {
    width: 12%;
    /* padding: 12px 8px; */
    /* background: rgba(19, 24, 65, 1); */
    font-size: 16px;
}

.mt-left .heading {
    margin-bottom: 5px;
}
.mt-left .title {
    width: 140px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* color: rgb(255, 255, 255); */
    font-weight: lighter;
    font-family: "Microsoft Yahei", Arial, sans-serif;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mt-left .sub-title {
    width: 180px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(46, 219, 255);
    font-weight: lighter;
    font-family: "Microsoft Yahei", Arial, sans-serif;
    font-size: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mt-left .content {

}

.mt-left .item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50% 0px;
    transform: rotateX(0deg);
    width: 100%;
    transition: transform 500ms cubic-bezier(0.15, 0.52, 0.5, 0.9);
    height: 24px;
}

.mt-left .item span {
    color:#1397ff;
    font-size:10px;
    padding-right:14px;
    width:auto;
    flex:none;
}

.mt-left .item .content {
    position: relative;
    display: flex;
    vertical-align: bottom;
    /* color:#ffffff; */
    font-size:12px;
    overflow: hidden;
    white-space: nowrap;
    flex: auto;
}

.content>div {
    animation: 15s wordsLoop linear infinite normal;
}

@keyframes wordsLoop {
    0% {
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

@-webkit-keyframes wordsLoop {
    0% {
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

.mt-center {
    width: 38%;
}

.mt-right {
    width: 50%;
}

.mt-right .layout {
    display: flex;
    height: 50%;
}

.mt-right .layout>div {
    flex: 1;
    border-radius: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(https://datav.oss-cn-hangzhou.aliyuncs.com/uploads/images/fb26689989fe9e9f074d4ac87fa2973d.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px 3px 2px 3px;
}

.mt-right .chart-footer {
    display: flex; 
    height: 50px;
}

.chart-footer .item {
    flex: 1;
    margin: 0 5px;
    height: 100%;
    border-radius: 4px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(https://datav.oss-cn-hangzhou.aliyuncs.com/uploads/images/fb26689989fe9e9f074d4ac87fa2973d.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.chart-footer .item .item-title {
    font-size: 10px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart-footer .item .item-text {
    font-size: 16px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mt-footer {
    height: 15%;
    display: flex;
}

.mt-footer .footer-left {
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mt-footer .footer-left .logo {
    width: 90%;
    height: 90px;
    background-image: url('http://datav.oss-cn-hangzhou.aliyuncs.com/uploads/images/aae8a23dfa307d225ad96c608594b342.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: -webkit-optimize-contrast;
}

.mt-footer .footer-center {
    width: 38%;
    height: 90%;
}

.mt-footer .footer-right {
    width: 50%;
    font-size: 12px;
    display: flex;
    height: 90%;
}

.mt-footer .footer-right .item-block {
    flex: 1;
    height: 100%;
    border-radius: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(https://datav.oss-cn-hangzhou.aliyuncs.com/uploads/images/fb26689989fe9e9f074d4ac87fa2973d.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-block .item-item-block {
    height: 50%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.item-item-block div {
    width: 50%;
}

.item-item-block div:last-child {
    text-align: right;
}

