html, body {
    width: 100%;
    height: 100%;
    visibility: visible;
}

body {
    background-color: #ffffff;
}

.mt-ik {
    width: 100%;
    height: 99%;
}

.mt-heading {
    text-align: center;
    height: 15%;
}

.mt-main {
    border: 1px solid black;
    height: 70%;
}

.mt-footer {
    border: 1px solid black;
    height: 15%;
}